<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://img.zcool.cn/community/018d2657c060410000012e7e57441e.jpg</string>
			<key>img_2url</key>
			<string>http://www.lgstatic.com/i/image/M00/1D/D7/Cgp3O1cF40aAEPSpAACQuTBBx-c704.jpg</string>
			<key>img_3url</key>
			<string>http://img.zcool.cn/community/0190f7579031240000018c1b66e95b.jpg</string>
		</dict>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://img2.ch999img.com/pic/edt/news/20160425/20160425141958_6988.jpg</string>
			<key>img_2url</key>
			<string>http://www.wallcoo.com/other/201603_March_calendar_wallpapers/wallpapers/1680x1050/mar-16-spring-is-inevitable-cal.jpg</string>
			<key>img_3url</key>
			<string>http://img.zcool.cn/community/01a6bf56f8bda46ac7257948745add.jpg</string>
		</dict>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://p2.gexing.com/G1/M00/E9/10/rBACJlbUQ_CBbQFtAAE3UEeSQUw79_600x.jpeg</string>
			<key>img_2url</key>
			<string>http://img.zcool.cn/community/011b3b5742676032f875b70f0ff6b7.png</string>
			<key>img_3url</key>
			<string>http://tc.sinaimg.cn/maxwidth.2048/tc.service.weibo.com/p/cms_api_aheading_com/55082e40d1308705873e994f5345c094.jpg</string>
		</dict>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://img4.duitang.com/uploads/item/201603/05/20160305221234_jzBh5.thumb.700_0.png</string>
			<key>img_2url</key>
			<string>http://img3.duitang.com/uploads/item/201603/30/20160330172500_LKGt3.thumb.700_0.jpeg</string>
			<key>img_3url</key>
			<string>http://img4.duitang.com/uploads/item/201604/06/20160406145156_vCN54.thumb.700_0.jpeg</string>
		</dict>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://pic.92to.com/anv/201603/10/50kozfgrk11.jpg</string>
			<key>img_2url</key>
			<string>http://www.wallcoo.com/other/201603_March_calendar_wallpapers/wallpapers/1280x1024/mar-16-tender-birds-cal.jpg</string>
			<key>img_3url</key>
			<string>http://v1.qzone.cc/pic/201510/24/11/27/562afa9341a69396.jpg%21600x600.jpg</string>
		</dict>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://img.zcool.cn/community/018d2657c060410000012e7e57441e.jpg</string>
			<key>img_2url</key>
			<string>http://www.lgstatic.com/i/image/M00/1D/D7/Cgp3O1cF40aAEPSpAACQuTBBx-c704.jpg</string>
			<key>img_3url</key>
			<string>http://img.zcool.cn/community/0190f7579031240000018c1b66e95b.jpg</string>
		</dict>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://pic.92to.com/anv/201603/10/50kozfgrk11.jpg</string>
			<key>img_2url</key>
			<string>http://www.wallcoo.com/other/201603_March_calendar_wallpapers/wallpapers/1280x1024/mar-16-tender-birds-cal.jpg</string>
			<key>img_3url</key>
			<string>http://v1.qzone.cc/pic/201510/24/11/27/562afa9341a69396.jpg%21600x600.jpg</string>
		</dict>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://p2.gexing.com/G1/M00/E9/10/rBACJlbUQ_CBbQFtAAE3UEeSQUw79_600x.jpeg</string>
			<key>img_2url</key>
			<string>http://img.zcool.cn/community/011b3b5742676032f875b70f0ff6b7.png</string>
			<key>img_3url</key>
			<string>http://tc.sinaimg.cn/maxwidth.2048/tc.service.weibo.com/p/cms_api_aheading_com/55082e40d1308705873e994f5345c094.jpg</string>
		</dict>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://p2.gexing.com/G1/M00/E9/10/rBACJlbUQ_CBbQFtAAE3UEeSQUw79_600x.jpeg</string>
			<key>img_2url</key>
			<string>http://img.zcool.cn/community/011b3b5742676032f875b70f0ff6b7.png</string>
			<key>img_3url</key>
			<string>http://tc.sinaimg.cn/maxwidth.2048/tc.service.weibo.com/p/cms_api_aheading_com/55082e40d1308705873e994f5345c094.jpg</string>
		</dict>
		<dict>
			<key>iconImgUrl</key>
			<string>http://pic33.nipic.com/20130916/3420027_192919547000_2.jpg</string>
			<key>weixinnumber</key>
			<string>666666</string>
			<key>chenghu</key>
			<string>随便</string>
			<key>lablemask</key>
			<string>杂七杂八</string>
			<key>address</key>
			<string>成都</string>
			<key>img_1url</key>
			<string>http://img2.ch999img.com/pic/edt/news/20160425/20160425141958_6988.jpg</string>
			<key>img_2url</key>
			<string>http://www.wallcoo.com/other/201603_March_calendar_wallpapers/wallpapers/1680x1050/mar-16-spring-is-inevitable-cal.jpg</string>
			<key>img_3url</key>
			<string>http://img.zcool.cn/community/01a6bf56f8bda46ac7257948745add.jpg</string>
		</dict>
	</array>
</dict>
</plist>
